form 
{
  text-align: center !important;
  margin: 0 auto;
  width: max-content;
}
.ErrForm{
  color: #de0000 !important;
  margin: 0 auto;
  background-color: rgb(255, 230, 237);
  width: max-content;
  height: max-content;
  padding: 10px;
}
ul{
  text-align: justify;
}
form input ,textarea,.buttonForm
{
  width: 40vw ;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  border: rgb(194, 187, 194) 1px solid ;
  margin: 0 auto;
 font-size: 20px !important;
}
label
{
  font-size: 22px !important;
}
form input:hover ,textarea:hover
{
  background-color: rgb(240, 214, 240);
}
#Contact
{
  min-height: 74vh;
  width: 100vw;
  background-color: rgb(248, 231, 248);
  margin: 0 auto;
  padding: 20px;
}
#Contact i,.sucsses
{
  color: darkmagenta ;
}
.buttonForm
{
  background-color: rgb(240, 214, 240);
}
.sucsses{
  font-size: 22px;
  font-weight: 600;
}


@media only screen and (max-width: 850px) {
  form input ,textarea,.buttonForm
  {
    width:70vw;
  }
 
}
@media only screen and (min-width: 1200px) {
  form input ,textarea,.buttonForm
  {
    width:450px;
  }
 
}

