.Project
{
    text-align: center;
}

.Project h3
{  
    width: max-content !important;
    margin: 10px auto!important;
    color: rgb(122, 87, 122) !important;

}
.Project p,a{
    font-size: 18px;
    font-weight: 600;
}

.myDetails-image
{   margin-bottom: 10px;
    margin-top: 20px;
    width: 50vw;
    object-fit: cover;
    
}
.description-project
{   margin-bottom: 10px;
    width: 50vw;
    margin: 0 auto;
}
.Project i{
    max-width: max-content;
    padding: 0 !important;
}
.btn-project
{
    padding: unset;
    width:max-content;
    padding: 10px;
    height: min-content !important;
    background-color: rgb(251 235 238) !important;
    color: #7a577a;
    border: none;
    border-radius: 12px;
}
.btn-project
{
    margin: 10px;
}

@media only screen and (max-width: 737px) {
   

    .description-project,.myDetails-image
    {
        width: 80vw;
        padding: 10px;
    }
    .Project h3
    {
        font-size: 18px;
        width: 70vw !important;
        padding: 0 !important;
    } 

    
}